html {
    font-family: Arial;
    font
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    display: grid;
    background-color: #442768;
    display: flex;
    justify-content: space-between;
}
    .menu > ul > li {
        flex-basis: 0;
        flex-grow: 1;
    }

        .menu > ul > li > a {
            font-weight: bold;
            color: white;
            display: block;
            width: 100%;
            text-align: center;
        }
