.body{

}

.gridViewUsuarios {
    margin: 20px auto;
    width: 75%;
    table-layout: auto;
    border-collapse: collapse;
}

    .gridViewUsuarios th {
        background-color: #a70084;
        color: #fff;
    }

    .gridViewUsuarios td {
        background-color: #c08bbf;
        color: #fff;
        text-align: center;
        white-space: normal;
        word-wrap: break-word;
    }

#botonesVerUsuarios {
    text-align: center;
}

#botonesVerUsuarios .boton {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente los botones */
    width: 200px;
    height: 50px;
}

#filtradoDelGrid {
    margin-top:25px;
    text-align:center;
}

.filtros {
    text-align: center;
    color: black;
    background-color: lightsteelblue;
    border: unset;
    font-size: medium;
    Width: 410px;
    Height: 30px;
    border-radius: 25px;
}

.valorParaFiltrar {
    text-align: center;
    color: black;
    background-color: lightsteelblue;
    border: unset;
    font-size: medium;
    Width: 410px;
    Height: 30px;
    border-radius: 25px;
}

.botonParaFiltrar{

}